@model ClienteViewModel

@{
    Layout = null;
    ViewBag.Title = "Edição de Cliente";
}

@using (Html.BeginForm("Edit", "Cliente", FormMethod.Post, new { @id = "form1" }))
{
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-primary">
                <h5 class="modal-title" id="exampleModalLongTitle">Edição de Cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <text class="text-danger">@ViewBag.Error</text>
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <input type="hidden" asp-for="Codigo" />
                    <div class="row">
                        <div class="col-12">
                            <label asp-for="Nome"></label>
                            <div class="col-md-12">
                                <input asp-for="Nome" class="form-control" />
                                <span asp-validation-for="Nome" class="text-danger"></span>                               
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <label asp-for="CPFCNPJFormatado"></label>
                            <div class="col-md-12">
                                <input asp-for="Documento" class="form-control" />
                                <span asp-validation-for="Documento" class="text-danger"></span>                                
                            </div>
                        </div>
                        <div class="col-5">
                            <label asp-for="TipoPessoa"></label>
                            <div class="col-md-12">
                                @Html.DropDownListFor(model => model.TipoPessoa, new SelectList(Model.ListaTipoPessoa, "Key", "Value"),
                                                              "- Selecione -", new { @class = "form-control" })
                                <span asp-validation-for="TipoPessoa" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" id="btnSalvarCliente">Salvar</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->

    <script type="text/javascript">
      //  $('#TipoPessoa').select2();
      ////  $('#Documento').inp
      //  $("input[id*='Documento']").inputmask({
      //      mask: ['999.999.999-99', '99.999.999/9999-99'],
      //      keepStatic: true
      //  });

        $("#btnSalvarCliente").click(function (e) {
            e.preventDefault();

            $.ajax({
                type: "POST",
                url: "@Url.Action("Edit", "Cliente")",
                data:   $('#form1').serialize(),
                success: function (result) {
                    debugger;
                    if (result.success) {
                        bootbox.alert('Edição realizada com sucesso.');
                        $('#modalCliente').modal('hide');
                       // window.location = window.location;

                    } else {
                        $('#modalCliente').html(result);
                    }
                },
                error: function (errormessage) {
                    console.log(errormessage.responseText);
                    bootbox.alert('O servidor não pôde processar a solicitação');
                    return false;
                }
            });
        });

    </script>
}